<div>
<h2>全てのジャンル</h2>
<p>（全<%= @genres.count %>件）</p>
</div>
<div>
  <% @genres.each do |genre| %>
  <%= link_to genre_path(genre.id) do %>
  <%= genre.name %>
 <% end %>
 <% end %>
</div>

<div>
    <h1>レシピ一覧</h1>
</div>
<div>
<table>
    <tr>
      <th>レシピ名</th>
      <th>ユーザー名</th>
      <th>投稿日</th>
      <th>更新日時</th>
    </tr>
    <% @recipes.each do |recipe| %>
    <tr>
      <th><%= recipe.title %></th>
      <th><%#= recipe.user_name %></th>
      <th><%= recipe.created_at %></th>
      <th><%= recipe.update_at %></th>
      <!-- いいね機能 -->
    <td>
      <% if recipe.favorite_by?(current_user) %>
        <%= link_to recipe_favorites_path(recipe), method: :delete do %>
          <span class="glyphicon glyphicon-heart"><%= recipe.favorites.count%></span>
        <% end %>
      <% else %>
        <%= link_to recipe_favorites_path(recipe), method: :post do %>
          <span class="glyphicon glyphicon-heart-empty"><%= recipe.favorites.count %></span>
        <% end %>
      <% end %>
    </td>
      <!-- コメント機能 -->
    <td>コメント数：<%#= home.home_comments.count %></td>
    </tr>
    <% end %>
</table>
</div>
 <!--    <%# @all_ranks.each do |recipe| %>(ランキング機能実装、いいね機能追加する必要あり) -->
