<div>
<h2>指定したジャンル</h2>
</div>
<div>
  <%= @genre.name %>
</div>

<div>
    <h1>レシピ一覧</h1>
</div>
<div>
<table>
    <tr>
      <th>レシピ名</th>
      <th>ユーザー名</th>
      <th>投稿日</th>
      <th>更新日時</th>
    </tr>
    <% @recipes.each do |recipe| %>
    <tr>
      <th><%= recipe.title %></th>
      <th><%#= recipe.user_name %></th>
      <th><%= recipe.created_at %></th>
      <th><%= recipe.updated_at %></th>
      <!-- いいね機能 -->
    <td>
      <% if recipe.liked_by?(current_user) %>
        <%= link_to recipe_likes_path(recipe), method: :delete do %>
          <span class="glyphicon glyphicon-heart"><%= recipe.likes.count%></span>
        <% end %>
      <% else %>
        <%= link_to recipe_likes_path(recipe), method: :post do %>
          <span class="glyphicon glyphicon-heart-empty"><%= recipe.likes.count %></span>
        <% end %>
      <% end %>
    </td>
      <!-- コメント機能 -->
    <td>コメント数：<%#= home.home_comments.count %></td>
    </tr>
    <% end %>
</table>
</div>
 <!--    <%# @all_ranks.each do |recipe| %>(ランキング機能実装、いいね機能追加する必要あり) -->
