<div>
<h2>指定したレシピ</h2>
</div>
<div>
  <%= link_to recipe_path(@recipe.id) do %>
  <%= attachment_image_tag @recipe, :photo, fill:"40x40", size:"40x40" %><br >
  <% end %>
  レシピ名<%= @recipe.title %><br >><br >
  ユーザー名<%= @recipe.user.name %><br >><br >
  レシピ内容<%= @recipe.cooking %><br >><br >
  コメント一覧
  <% @comments.each do |c| %>
    <div>
      <% if c.user.present? %>
        <%= link_to user_path(c.user_id) do %>
        <% end %>
      <%= c.content %><br >
      <%= "#{c.user.name_kanji_sei} #{c.user.name_kanji_mei}" if c.user.present?%><br >
    </div><br >
  <% end %>
  <% end %>
  新規コメント
  <% if user_signed_in? %>
    <%= form_with(model: [@recipe, @comment], local: true, ) do |f| %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
      <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>><br >
  いいね<%= render 'recipes' %>
</div>

<h2>関連したレシピ一覧</h2>
<div>
<table>
    <tr>
      <th>レシピ名</th>
      <th>ユーザー名</th>
      <th>投稿日</th>
    </tr>
    <% @recipes.each do |recipe| %>
    <tr>
      <th><%= recipe.title %></th>
      <th><%= recipe.user.name %></th>
      <th><%= recipe.created_at %></th>
      <!-- いいね機能 -->
    <td>
      <%= render 'recipes' %>
    </td>
      <!-- コメント数確認機能 -->
    <td>コメント数：<%= recipe.comments.count %></td>
    </tr>
    <% end %>
</table>

<div>

</div>
</div>
