<%# ログインなし %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="" class="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarEexample">
      <ul class="nav navbar-nav", style="list-style: none;">
          <li>
            <%= form_tag(recipes_path,:method => 'get', class: "navbar-form navbar-left") do %>
            <%= text_field_tag :recipe, params[:recipe], class: "form-control", placeholder:"気になるレシピを検索!!" %>
            <%= submit_tag 'Search', :title => nil, class: "btn btn-default" %>
            <% end %>
          </li>
      </ul>
      <p class="navbar-text navbar-right">
            <%= link_to '新規登録', new_user_registration_path, class: "nav-link text-white btn btn-outline-light" %>
      </p>
      <p class="navbar-text navbar-right">
            <%= link_to 'ログイン', new_user_session_path, class: "nav-link text-white btn btn-outline-light" %>
      </p>
      </div>
    </div>
  </div>
</nav>